@import './github-light.scss';
@import './reset.scss';

.padding-top {
  padding-top: 1.88rem;
}

.cont-p {
  padding: 0 .51rem;
}

.cont-m {
  margin: 0 .51rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-s {
  justify-content: flex-start;
}

.flex-c {
  justify-content: center;
}

.flex-e {
  justify-content: flex-end;
}

.flex-g {
  flex-grow: 1;
}

.flex-b {
  justify-content: space-between;
}

.flex-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-c {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.grey-bg {
  background: #f0f0f0;
}

.font-6 {
  font-size: .6rem;
  color: #040404;
}

.font-7 {
  font-size: .7rem;
}

.next-btn {
  width: 10.71rem;
  height: 1.71rem;
  background: url(../assets/images/nextBtn@2x.png);
  background-size: 100% 100%;
}

.scale8 {
  transform: scale(.8);
  transform-origin: 0 0;
}

.scale9 {
  transform: scale(.9);
  transform-origin: 0 0;
}

.blue {
  color: #0265FF;
}

.grey6 {
  color: #d1d0d0
}

.grey7 {
  color: #737373
}

.yellow {
  color: #FDA63F;
}

.more:after {
  position: absolute;
  content: '';
  top: .15rem;
  right: .28rem;
  width: .3rem;
  height: .51rem;
  background: url(../assets/images/rightArrow@2x.png);
  background-size: 100% 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.muti-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

@keyframes backOpacity {
  0%   { opacity: 1 }
  25%  { opacity: .5 }
  50%  { opacity: 1 }
  75%  { opacity: .5 }
  100% { opacity: 1 }
}

.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite;
}
